---
import { clsx } from "clsx";
import LogosScroll from "../LogosScroll.svelte";
import { companies } from "../../data/companies.ts";
---

<section
  class={clsx("container p-0 overflow-hidden relative", Astro.props.class)}
>
  <LogosScroll
    class="flex h-16 w-max items-center sm:h-30"
    client:load
  >
    {
      companies.map((company) => (
        <a
          href={company.href}
          target="_blank"
          rel="noopener noreferrer"
          class="mx-4 flex-none sm:mx-15 w-30 sm:w-60 flex items-center justify-center"
          aria-label={company.alt}
        >
          <img
            src={`/clients/${company.image}`}
            alt={company.alt}
            class="h-3 w-auto sm:h-4"
          />
        </a>
      ))
    }
  </LogosScroll>
</section>
