---
import clsx from "clsx";
import Button from "../ui/Button.astro";
---

<section
  class={clsx(
    Astro.props.class,
    "flex flex-col gap-6 @sm:flex-row @sm:justify-between @sm:items-center my-10 @sm:my-20",
  )}
>
  <div class="max-w-[475px] space-y-3">
    <div class="mb-3 text-lg font-medium">Want to stay updated?</div>
    <p class="text-muted-foreground text-base @sm:text-lg">
      Join 1,000+ founders and engineers already turning compliance from a
      burden into a competitive advantage.
    </p>
  </div>
  <Button class="w-max">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 16 16"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.33"
        d="M14 6.67v-1.2c0-.75 0-1.12-.15-1.41a1.33 1.33 0 0 0-.58-.58c-.28-.15-.66-.15-1.4-.15H4.13c-.74 0-1.12 0-1.4.15-.25.13-.46.33-.58.58C2 4.35 2 4.72 2 5.46v5.07c0 .75 0 1.12.15 1.4.12.26.33.46.58.59.28.15.66.15 1.4.15H8"
      ></path>
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.33"
        d="m2.4 4 4.92 2.93c.42.25.94.25 1.36 0L13.6 4"></path>
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-width="1.33"
        d="M12.67 9.33v4M14.67 11.33h-4"></path>
    </svg>
    Stay updated
  </Button>
</section>
