---
import {getCollection} from "astro:content";
import {dynamicImages} from "../../lib/images.ts";
import StoryCard from "../StoryCard.astro";

const images = dynamicImages(import.meta.glob<{
  default: ImageMetadata
}>('/src/assets/stories/*.{jpeg,jpg,png,gif,svg}'))
const aa = (await getCollection('stories'))
  .sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
  );
const stories = Array.from({length: 2}).map(() => aa).flat();
---

<section class="dark bg-level-0 text-foreground overflow-hidden">
    <div class="container py-10 sm:py-30">
        <h2 class="text-h3 sm:text-h2 font-medium mb-3 intersect-once intersect:animate-slide-in text-center">
            Real uses cases from real people
        </h2>
        <p class="text-muted-foreground text-lg mb-6 intersect-once intersect:animate-slide-in motion-delay-100 text-center">
            Inspiring stories, real Probo customers
        </p>

        <a href="/stories"
           class="text-lg flex justify-center items-center font-medium gap-1.5 group intersect-once intersect:animate-slide-in motion-delay-200 mb-10 sm:mb-12">
            View all case studies
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                 class="group-hover:translate-x-1 transition-transform">
                <path d="M9.33325 4L13.3333 7.99999L9.33325 12" stroke="currentColor" stroke-width="1.33333"
                      stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12.6667 8H2.66675" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round"
                      stroke-linejoin="round"/>
            </svg>
        </a>


        <div class="flex gap-4 ">
          {stories.map((story) => (
                  <StoryCard story={story} theme="dark"/>
          ))}
        </div>
    </div>

</section>
