@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-motion";
@plugin "tailwindcss-intersect";
@plugin "./aria-plugin.ts";

@theme {
    --font-sans: "Geist", sans-serif;

    --text-*: initial;
    --color-*: initial;
    --breakpoint-*: initial;
    --container-*: initial;

    --breakpoint-sm: 640px;
    --breakpoint-md: 1120px;

    --color-foreground: #141E12;
    --color-primary: var(--color-foreground);
    --color-primary-foreground: #FCFDFC;
    --color-muted-foreground: #6B716A;
    --color-secondary: #FFF;
    --color-tertiary-foreground: #818780;
    --color-muted: #054D0507;
    --color-level-0: #FFFFFB;
    --color-level-3: #141E12;
    --color-border-low: #022A0213;
    --color-quaternary: #C3C8C2;
    --color-accent: #93C926;
    --color-success: #5D770D;
    --color-active: #E4F7C7;

    --text-h1: 4.5rem; /* 72px */
    --text-h1--line-height: 1;
    --text-h1--letter-spacing: -1.4px;

    --text-h2: 2.75rem; /* 44px */
    --text-h2--line-height: 1.09;
    --text-h2--letter-spacing: -1.4px;

    --text-h3: 1.4375rem; /* 22px */
    --text-h3--line-height: 1.08;
    --text-h3--letter-spacing: -0.4px;

    --text-h4: 1.25rem; /* 22px */
    --text-h4--line-height: 1.08;
    --text-h4--letter-spacing: -0.4px;

    --text-quote: 2rem; /* 32px */
    --text-quote--line-height: 1.25;
    --text-quote--letter-spacing: -0.6px;

    --text-lg: 1.0625rem; /* 17px */
    --text-lg--line-height: 1.529;
    --text-lg--letter-spacing: -0.2px;

    --text-base: 0.9375rem; /* 15px */
    --text-base--line-height: 1.4666;
    --text-base--letter-spacing: -0.1px;

    --text-sm: 0.875rem; /* 14px */
    --text-sm--line-height: 1.428;
    --text-sm--letter-spacing: -0.1px;

    --text-xs: 0.8125rem; /* 13px */
    --text-xs--line-height: 1.384;
    --text-xs--letter-spacing: -0.1px;

    --text-xxs: 0.75rem; /* 12px */
    --text-xxs--line-height: 1.58888;
    --text-xxs--letter-spacing: 0px;

    --text-quote-mobile: 1.5rem; /* 24px */
    --text-quote-mobile--line-height: 2;
    --text-quote-mobile--letter-spacing: -0.4px;

    --shadow-*: initial;
    --shadow-btn: 0 1px 3px #0B13241A, inset 0 1px 0px rgba(0, 0, 0, 0.1);
}

@utility animate-slide-in {
    @apply motion-translate-x-in-[0%] motion-translate-y-in-[50px] motion-opacity-in-[0%];
}

@layer base {
    * {
        border-color: var(--color-border-low);
    }
    button, a {
        cursor: pointer;
    }
    hr {
        height: 1px;
        border: none;
        background-color: var(--color-border-low);
    }
}

@layer theme {
    .yc-btn {
        position: relative;
        border-radius: 16px;
        border: solid 1px transparent;
        background-image: linear-gradient(white, white), linear-gradient(91.89deg, rgba(147, 201, 38, 0.12) 0%, #FFFFFF 10.1%, rgba(147, 201, 38, 0.12) 47.15%, #FFFFFF 71.63%, rgba(147, 201, 38, 0.12) 100%);
        background-origin: border-box;
        background-clip: padding-box, border-box;
    }
}

.prose {
    --tw-prose-body: var(--color-muted-foreground);
    --tw-prose-headings: var(--color-primary);
    --tw-prose-lead: var(--color-primary);
    --tw-prose-links: var(--color-primary);
    --tw-prose-bold: var(--color-primary);
    --tw-prose-counters: var(--color-primary);
    --tw-prose-bullets: var(--color-primary);
    --tw-prose-hr: var(--color-primary);
    --tw-prose-quotes: var(--color-primary);
    --tw-prose-quote-borders: var(--color-border-low);
    --tw-prose-captions: var(--color-primary);
    --tw-prose-code: var(--color-primary);
    --tw-prose-pre-code: var(--color-primary);
    --tw-prose-pre-bg: var(--color-primary);
    --tw-prose-th-borders: var(--color-border-low);
    --tw-prose-td-borders: var(--color-border-low);
    --tw-prose-invert-body: var(--color-primary);
    --tw-prose-invert-headings: var(--color-primary-foreground);
    --tw-prose-invert-lead: var(--color-primary);
    --tw-prose-invert-links: var(--color-primary-foreground);
    --tw-prose-invert-bold: var(--color-primary-foreground);
    --tw-prose-invert-counters: var(--color-primary);
    --tw-prose-invert-bullets: var(--color-primary);
    --tw-prose-invert-hr: var(--color-primary);
    --tw-prose-invert-quotes: var(--color-primary);
    --tw-prose-invert-quote-borders: var(--color-border-low);
    --tw-prose-invert-captions: var(--color-primary);
    --tw-prose-invert-code: var(--color-primary-foreground);
    --tw-prose-invert-pre-code: var(--color-primary);
    --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
    --tw-prose-invert-th-borders: var(--color-border-low);
    --tw-prose-invert-td-borders: var(--color-border-low);
}

@utility container {
    max-width: 1120px;
    padding-inline: 1.25rem;
    margin-inline: auto;
}
