@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-dark-50: #fafafa;
  --color-dark-100: #f1efed;
  --color-dark-300: #e4e2dd;
  --color-dark-400: #a0a4a3;
  --color-dark-600: #6a7270;
  --color-dark-900: #101e1c;

  --color-yellow-400: #e6ff03;

  --breakpoint-md: 51rem;
  --breakpoint-lg: 80rem;
}

:root {
  font-family: "Inter", sans-serif;
}
