@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
    --color-dark-50: #FAFAFA;
    --color-dark-100: #F1EFED;
    --color-dark-300: #E4E2DD;
    --color-dark-400: #A0A4A3;
    --color-dark-600: #6A7270;
    --color-dark-900: #101E1C;

    --color-yellow-400: #E6FF03;

    --breakpoint-md: 51rem;
    --breakpoint-lg: 80rem;
}

:root {
    font-family: 'Inter', sans-serif;
}