---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ceci est ma page">

  <div class="container mx-auto px-4 py-8">

    <h1 class="text-3xl font-bold mb-4" transition:name="title">Ceci est un titre</h1>

    <div class="w-50 h-75" >
      <img src="https://picsum.photos/id/237/200/300" class="object-cover" alt=""/>
    </div>
  </div>
</Layout>
