---
import Layout from '../layouts/Layout.astro';
import {Image} from 'astro:assets';
import Logos from "../components/block/Logos.astro";
import Testimonials from "../components/block/Testimonials.astro";
import Button from "../components/ui/Button.astro";
import Badges from "../components/Badges.svelte";
import YCImage from '../assets/photos/ycombinator.png'
---

<Layout title="From Chaos to Compliance — in a few weeks."
        description="Get SOC 2, GDPR, HIPAA, and ISO certified in just one week. Open-source compliance management platform with no vendor lock-in. Backed by Y Combinator.">

    <section class="container my-10 sm:my-20 flex flex-col gap-6 sm:flex-row sm:justify-between sm:items-center">
        <div class="max-w-[424px]">
            <h1 class="text-h2 mb-4 font-medium">From Chaos to Compliance — in a few weeks.</h1>
            <p class="text-muted-foreground text-lg mb-6">
                Probo is an open-source platform that acts as your in-house compliance team, handling policies,
                documentation, processes, risk assessments, and more, so you can stay focused on what matters.
            </p>
            <form class="flex flex-col gap-3">
                <input class="px-3 w-full border border-border-mid h-12 placeholder:text-quaternary rounded-lg"
                       type="email" placeholder="Enter your email" aria-label="Enter your email"/>
                <input class="px-3 w-full border border-border-mid h-12 placeholder:text-quaternary rounded-lg"
                       type="email" placeholder="Your YC verification link" aria-label="Your YC verification link"/>
                <Button type="submit" size="lg" class="text-base">Claim deal</Button>
                <a href="#" class="underline text-tertiary-foreground text-center sm:text-start">
                    Get your verification link
                </a>
            </form>
        </div>
        <Badges count={9} countMobile={3} client:load class="grid-cols-3 sm:gap-10 grid sm:w-[380px]"/>
    </section>

    <Logos/>

    <Testimonials/>

    <section class="container flex flex-col gap-10 sm:flex-row sm:gap-20 sm:items-center my-10 sm:my-30">
        <Image src={YCImage} alt="Y Combinator" width={500} height={660} class="rounded-2xl aspect-square object-cover shadow-image flex-none max-w-[500px] sm:aspect-500/660"/>
        <div class="text-muted-foreground text-lg space-y-6">
            <h2 class="text-h3 font-medium text-foreground">Our YC Story</h2>
            <p>
                Instead of building yet another “classic SaaS,” we chose a different path: delivering an end-to-end compliance service. We don’t just give companies tools to achieve SOC 2 in record time - we run the compliance for them.
            </p>
            <p>
                That ambition came with a price: time. At one point we were handling more clients in parallel than Bryan and I could realistically support. Bryan even stepped in as a full-time compliance officer. We kept our standards high, even saying no to new clients rather than compromising on quality.
            </p>
            <p>
                Today, things are almost back under control. Our processes are stronger, our team is growing (reach out if you are a CISO or compliance officer), and we are back on track toward our objectives.
            </p>
            <p>
                YC was the best thing that could have happened to us and Probo: Doing things than don’t scale is hard, but it’s worth it!
            </p>
            <p>
                — Antoine Bouchardy, Co-founder & CEO
            </p>
        </div>
    </section>

</Layout>
