---
import Link from "./Link.astro";
---
<header class="container mx-auto flex justify-between items-center py-4">
  <a href="/">Logo</a>
  <nav>
    <Link href="/about">About</Link>
    <a href="#">Blog</a>
    <a href="#">Github</a>
    <a href="#">Access your trust center</a>
    <a href="#">Get Certified</a>
  </nav>
</header>
