---
import Layout from './Layout.astro'
import Prose from "../components/Prose.astro";

interface Props {
  title: string
  subtitle: string
  description: string
}
---

<Layout title={Astro.props.title} description={Astro.props.description}>
    <div class="container py-10 sm:py-20">
        <div class="text-muted-foreground mb-5">{Astro.props.subtitle}</div>
        <h1 class="text-h2 font-medium mb-10">{Astro.props.title}</h1>
        <Prose>
            <slot/>
        </Prose>
    </div>
</Layout>
