---
import { clsx } from "clsx";
interface Props {
  title: string;
  class?: string;
  video?: string;
}
const { title, image, video, ...props } = Astro.props;
---

<section
  class={clsx("flex flex-col sm:flex-col-reverse gap-8 sm:gap-10", props.class)}
>
  <div class="space-y-2">
    <h3 class="text-h4 font-medium">
      {title}
    </h3>
    <div
      class="text-muted-foreground space-y-2 text-lg"
    >
      <slot />
    </div>
  </div>
  {
    video && (
    <video-visible src={video} class="aspect-560/360 w-full rounded-2xl block object-cover relative" width={500} height={360}>
      <div class="absolute bottom-0 left-0 right-0 h-20 bg-gradient-to-t from-level-0 to-level-0/0 z-10"/>
    </video-visible>
    )
  }

</section>

<script>
  class VideoVisible extends HTMLElement {
    private video: HTMLVideoElement | null = null;
    private observer: IntersectionObserver | null = null;

    constructor() {
      super();
    }

    connectedCallback() {
      this.observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            this.playVideo();
          } else {
            this.video?.pause();
          }
        });
      });
      this.observer.observe(this);
    }

    private async playVideo() {
      if (!this.video) {
        this.video = document.createElement('video');
        const attributes = this.getAttributeNames();
        for(const attr of attributes) {
          this.video.setAttribute(attr, this.getAttribute(attr) || '');
        }
        this.video.setAttribute('autoplay', '');
        this.video.setAttribute('playsinline', '');
        this.video.setAttribute('loop', '');
        this.appendChild(this.video);
      }
          await this.video.play();
    }

    disconnectedCallback() {
      if (this.observer) {
        this.observer.disconnect();
        this.observer = null;
      }
    }
  }

  // Register the custom element
  customElements.define('video-visible', VideoVisible);

</script>
